body{
  background-color: rgb(250, 183, 183);
  text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 2em;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }